<h3>Contacts</h3>
<div class="mb-3">
  <a class="btn btn-outline-primary" href="#" ng-init="sortProp = 'surname'; surnameSortActive = true;" ng-click="sortProp = 'surname'; surnameSortActive = true; createdSortActive = false;" ng-class="{'active': surnameSortActive}">
    Surname
  </a> 
  <a class="btn btn-outline-primary" href="#" ng-click="sortProp = '_createdAt'; surnameSortActive = false; createdSortActive = true;" ng-class="{'active': createdSortActive}">
      Created
  </a>
  <a href="#" ng-click="reverseSort = !reverseSort">
    {{reverseSort ? 'Descending' : 'Ascending'}}
  </a>
</div>
<div class="row">
  <div class="col-md-4" ng-if="vm.entries.length == 0">
    <div class="card text-center text-muted border border-info">
      <div class="card-header">
        <h4>No Contacts</h4>
      </div>
      <div class="card-body">
        <p class="card-text text-muted">It doesn't look like you have any contacts. Why not try adding some?</p>
      </div>
      <div class="card-footer">
        <a href="/manage" class="btn btn-info btn-block">Add New Contact</a>
      </div>
    </div>
  </div>
  <div class="col-md-4" ng-repeat="entry in vm.entries | orderBy:sortProp:reverseSort">
    <div class="card text-center border border-primary mb-3">
      <div class="card-header">
        <h4>{{entry.firstname}} {{entry.surname}}</h4>
      </div>
      <div class="card-body">
        <p class="card-text text-muted">{{entry.country}}</p>
        <p class="card-text">{{entry.email}}</p>
      </div>
      <div class="card-footer">
        <a class="btn btn-primary btn-block" href="mailto:{{entry.email}}">Email {{entry.firstname}}</a>
      </div>
    </div>
  </div>
</div>
