<h3>Manage Contacts</h3>
<div class="mb-3">
  <a class="btn btn-outline-primary" href="#" ng-init="sortProp = 'surname'; surnameSortActive = true;" ng-click="sortProp = 'surname'; surnameSortActive = true; createdSortActive = false;" ng-class="{'active': surnameSortActive}">
    Surname
  </a> 
  <a class="btn btn-outline-primary" href="#" ng-click="sortProp = '_createdAt'; surnameSortActive = false; createdSortActive = true;" ng-class="{'active': createdSortActive}">
    Created
  </a>
  <a href="#" ng-click="reverseSort = !reverseSort">
    {{reverseSort ? 'Descending' : 'Ascending'}}
  </a>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card text-center text-muted border border-info mb-3">
      <div class="card-header">
        <h4>New Contact</h4>
      </div>
      <div class="card-body">
        <p class="card-text text-muted">Add a new contact
          <br> to your address book.</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-info btn-block" data-toggle="modal" data-target="#entryModal" ng-click="vm.setWorkingEntry(null)">Add New Contact</button>
      </div>
    </div>
  </div>
  <div class="col-md-4" ng-repeat="entry in vm.entries | orderBy:sortProp:reverseSort track by entry._id">
    <div class="card text-center border border-primary mb-3">
      <div class="card-header">
          <h4>{{entry.firstname}} {{entry.surname}}</h4>  
      </div>
      <div class="card-body"> 
        <p class="card-text text-muted">{{entry.country}}</p>
        <p class="card-text">{{entry.email}}</p>
        <button class="btn btn-block btn-primary" ng-click="vm.setWorkingEntry(entry)" data-toggle="modal" data-target="#entryModal">Edit</button>
        <button class="btn btn-block btn-danger" ng-click="vm.deleteEntry(entry._id);" ng-show="entry._id">Delete</button>
      </div>
    </div>
  </div>
</div>

<div id="entryModal" class="modal fade" role="dialog" aria-labelledby="entryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="entryModalLabel" class="modal-title">{{vm.workingEntry ? 'Edit' : 'Add'}} Contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="entryForm" ng-submit="vm.workingEntry._id ? vm.updateEntry(vm.workingEntry._id, vm.workingEntry) : vm.createEntry(vm.workingEntry); vm.workingEntry = null; entryForm.$setPristine();">
          <div class="form-group">
            <label class="sr-only" for="firstname">First Name</label>
            <input type="text" name="firstname" id="firstname" class="form-control" placeholder="First Name" ng-model="vm.workingEntry.firstname"  required>
          </div>
          <div class="form-group">
            <label class="sr-only" for="surname">Surname</label>
            <input type="text" name="surname" id="surname" class="form-control" placeholder="Surname" ng-model="vm.workingEntry.surname" required>
          </div>
          <div class="form-group">
            <label class="sr-only" for="email">E-mail</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="E-mail" ng-model="vm.workingEntry.email" required>
          </div>
          <div class="form-group">
            <label class="sr-only" for="country">Country</label>
            <select name="country" id="country" class="form-control" ng-model="vm.workingEntry.country" required>
              <option ng-repeat="country in vm.countries" ng-value="country">{{country}}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-block btn-primary" ng-class="{'btn-danger': entryForm.$invalid}" ng-disabled="entryForm.$invalid">Done</button>
        </form>
        <div class="modal-footer" ng-if="vm.workingEntry._createdAt">
          <small class="card-text text-muted">Created: {{vm.workingEntry._createdAt | date:'medium'}}</small>
          <small class="card-text text-muted" ng-if="vm.workingEntry._updatedAt">Updated: {{vm.workingEntry._updatedAt | date:'medium'}}</small>     
        </div>
      </div>
    </div>
  </div>
</div>
