<!doctype html>
  <html lang="en" ng-app="AddressBook">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
      <base href="/">
      <title>GIG Address Book</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha256-m/h/cUDAhf6/iBRixTbuc8+Rg2cIETQtPcH9D3p2Kg0=" crossorigin="anonymous" />
    </head>
    <body>
      <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container">
          <span class="navbar-brand">GIG Address Book</span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMenu" aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navMenu">
              <ul class="navbar-nav ">
                <li class="nav-item">
                  <a class="nav-link" href="/" ng-click="homeActive = true; manageActive = false;" ng-class="{'active': homeActive}">Contacts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/manage" ng-click="manageActive = true; homeActive = false" ng-class="{'active': manageActive}">Manage Contacts</a>
                </li>
              </ul>
            </div>
        </div>
      </nav>
      <main class="container mt-3">
        <div ng-view=""></div>
      </main>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js" integrity="sha256-Nfc6cMygZ4KL6eCnEri0iQjhvESQY3xivXAVj5XNbic=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular-route.min.js" integrity="sha256-gYQndjD7hxGnf+LCkZWhxVbkHMOiHTgqdpxT7r5zeg8=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js" integrity="sha256-/GXjBGBWRx8/y1Be190w3hrUOFXNs9qPhthi0tbNnG8=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha256-DiWJXXyq81WlPRnDfGmgYZj2aOVCKyEdJ1l+2TmDuAs=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.5.3/localforage.min.js" integrity="sha256-nRqiWyuWTjxvwtNcC3kA4UVPN/ZiiC7bvnNepiDsmtI=" crossorigin="anonymous"></script>
      <script src="assets/js/vendor.bundle.js"></script>
      <script src="assets/js/app.bundle.js"></script>
    </body>
  </html>
